django==4.2.5
drf-yasg==1.21.6
djangorestframework==3.14.0
django-storages==1.13.2
pymysql==1.1.0
django_mysql==4.10.0
flake8==6.0.0
pandas~=2.0.2
boto3==1.27.0
requests==2.31.0
botocore==1.30.0
scipy==1.11.1
numpy==1.25.0
geopy==2.3.0
CurrencyConverter==0.17.9
statsmodels==0.14.0
pytz==2023.3
python-dateutil==2.8.2
matplotlib==3.7.1
seaborn==0.12.2
folium==0.14.0
python-dotenv==1.0.0
gspread==5.10.0
yellowbrick==1.5
scikit-learn==1.2.2
shapely~=2.0.1