% extends "base.html" %}
{% load static %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<style>
    /* Style for the main submit button */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the Back to Profile button */
.btn2 {
    background-color: #ccc;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover */
.btn:hover, .btn2:hover {
    background-color: #0056b3;
}
</style>
<form action="{% url 'change_password' %}" id="password-change-form" method="post">
        {% csrf_token %}

      <div class="mb-4">
        <label for="old_password" class="block text-gray-700">Password:</label>
        <input type="password" class="form-input" id="old_password" name="old_password" placeholder="Enter Old Password" required>
      </div>
      <div class="mb-4">
        <label for="new_password1" class="block text-gray-700">Password:</label>
        <input type="password" class="form-input" id="new_password1" name="new_password1" placeholder="Enter New Password" required>
      </div>
      <div class="mb-4">
        <label for="new_password2" class="block text-gray-700">Password:</label>
        <input type="password" class="form-input" id="new_password2" name="new_password2" placeholder="Enter New Password Again" required>
      </div>

      <button type="submit" class="btn">SUBMIT</button>
</form>

{% endblock %}