{% extends "base.html" %}
{% load static %}
{% block title %}
Forum
{% endblock %}

{% block content %}

 <div class="card-container">
               <form class="filter-card" action="{% url 'forum' %}" type="get">
                    <div class="form-group">
                        <select class="form-input" id="entry_categories" name="entry_categories" >
                            <option value="">Select a Category</option>
                            {% for category in categories %}
                                <option value="{{category.name}}" {% if cell == category.name %}selected{% endif %}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-input" id="entry_subcategories" name="entry_subcategories">
                            <option value="">Select a Subcategory</option>
                            {% for subcategory in subcategories %}
                                    <option value="{{subcategory.name}}" {% if cell == subcategory.name %}selected{% endif %}>{{subcategory.category.name}}/{{subcategory.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                   <div class="form-group">
                        <select class="form-input" id="entry_type" name="entry_type">
                            <option value=""> Select Profile Type</option>
                            <option value="verified" {% if cell == "verified" %}selected{% endif %}>Show only verified</option>
                            <option value="all" {% if cell == "verified" %}selected{% endif %}>Show all</option>

                        </select>
                    </div>
                    <button type="submit" class="filter-button">Filter <i class="fa-solid fa-filter" style="color: #ffffff;"></i></button>
                </form>
            </div>

        </div>
</div>


<div class="bottom-container">
        <div class="card-container">
                  {% if entries == 'Empty' %}
                        <div class="card">
                                <div class="card-content">
                                    <h2>Anyone have not shared any entry yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                       {% for entry in entries %}
                            <div class="card">
                                <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{entry.owner.profile_image}}" >
                                    <form action="{% url 'show_profile' %}" method="post">
                                        <input type="hidden" id='user_id_2' name='user_id_2'  value="{{entry.owner.id}}">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <p>{{ entry.owner.user.first_name }} {{ entry.owner.user.last_name }}
                                                {% if entry.owner.is_verified == 1 %}
                                                    <i class="fa-regular fa-circle-check" style="color: #30aa0e; margin-left: 0.5rem"></i>
                                                {% endif %}
                                            </p>
                                        </button>
                                    </form>
                                </div>
                                    <div class="card-content">
                                        <form action="{% url 'show_post' %}" method="post">
                                            <input type="hidden" id='entry_id' name='entry_id'  value="{{entry.id}}">
                                            <input type="hidden" id='type' name='type'  value="entry">
                                            {% csrf_token %}
                                            <button type="submit">
                                                <h2>{{entry.title}}</h2>
                                            </button>
                                        </form>
                                        <h1>{{entry.category.name}} / {{entry.subcategory.name}}</h1>
                                        <h6>{{entry.description}}</h6>
                                        <h4>{{entry.created_at|timesince:now}} ago</h4>
                                        {% if entry.id in actions %}
                                                <button id="unlikeButton_{{entry.id}}" onclick="unlikeEntry('{{entry.id}}')">
                                                    <i class="fa-solid fa-heart" style="color: #ff4747;"></i>
                                                </button>
                                        {% else %}
                                                <button id="likeButton_{{entry.id}}" onclick="likeEntry('{{entry.id}}')">
                                                   <i class="fa-regular fa-heart" style="color: #9c9c9c;"></i>
                                                </button>
                                        {% endif %}
                                    </div>
                            </div>
                        {% endfor %}
                    {% endif %}
        </div>
</div>


    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script>

        document.getElementById('addForm').addEventListener('submit', function() {
            // When the form is submitted, show the spinner
            document.getElementById('spinner').style.display = 'flex';
        });

        document.getElementById('addForm2').addEventListener('submit', function() {
            // When the form is submitted, show the spinner
            document.getElementById('spinner').style.display = 'flex';
        });
    </script>
<script>
    function likeEntry(entry_id) {
        // Replace these values with actual post_id, profile_id, and type
        var button = document.getElementById('likeButton_' + entry_id);
        button.innerHTML = '<i class="fa-solid fa-heart" style="color: #ff4747;"></i>';
        console.log('colorrrrrr');
        fetch(`/like_entry/${entry_id}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Action created successfully');
            } else {
                console.log('Error creating action:', data.error);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });

    }

        function unlikeEntry(entry_id) {
        // Replace these values with actual post_id, profile_id, and type
        var button = document.getElementById('unlikeButton_' + entry_id);
        button.innerHTML = '<i class="fa-regular fa-heart" style="color: #9c9c9c;"></i>';
        console.log('colorrrrrr');
        fetch(`/unlike_entry/${entry_id}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Action created successfully');
            } else {
                console.log('Error creating action:', data.error);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });

    }
    // Function to get CSRF token from cookies
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    function changeColor(entry_id) {
        var button = document.getElementById('likeButton_' + entry_id);
        button.innerHTML = '<i class="fa-solid fa-heart" style="color: #ff4747;"></i>';
    }
</script>

{% endblock %}


