<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'default.css' %}" id="theme-stylesheet" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="body">

    <div class="container mx-auto">
        <div class="navbar fixed top-0 left-0 right-0" id="navbar">
            <div class="navbar-brand">
                <a href="{% url 'campus_connect' %}" class="btn" id="logo">
                    <img src="{% static 'Logo_white.png' %}" alt="Logo" id="logoImg">
                </a>
                <h1>{% block title %} {% endblock %}</h1>

            </div>
            <form action="{% url 'search_results' %}" method="get" class="flex items-center">
                    <input id="query" type="text" name="query" placeholder="Search..." class="search-box">
                    <button type="submit" class="btn px-4 py-2 text-white rounded-r"><i class=" icon-color fa-solid fa-magnifying-glass"></i></button>
            </form>

             <div class="navbar-menu" id="navbar-menu">
                <!-- Add navigation links here -->
                <a href="{% url 'add' %}" class="btn"><i class="icon-color fa-solid fa-plus"></i> Add</a>
                <a href="{% url 'market' %}" class="btn"><i class="icon-color fa-solid fa-cart-shopping"></i> Market</a>
                <a href="{% url 'forum' %}" class="btn"><i class="icon-color fa-solid fa-newspaper"></i> Forum</a>
                <a href="{% url 'profile' %}" class="btn"><i class="icon-color fa-solid fa-user"></i> Profile</a>
                <a href="{% url 'chats' %}" class="btn"><i class="icon-color fa-solid fa-inbox" ></i> Chat Inbox</a>
                <a href="{% url 'logout' %}" class="btn"><i class="icon-color fa-solid fa-right-from-bracket"></i> Logout</a>
                <button id="toggle-theme-btn" onclick="toggleTheme()"><i class="icon-color fa-solid fa-moon"></i></button>
            </div>
        </div>

        {% block content %}

      {% endblock content %}
    </div>

<div class="bottom-navbar">
            <div class="bottom-navbar-menu">
                <!-- Add navigation links here -->
                <a href="{% url 'add' %}" class="btn"><i class="fa-solid fa-plus"></i></a>
                <a href="{% url 'market' %}" class="btn"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
                <a href="{% url 'forum' %}" class="btn"><i class="fa-solid fa-newspaper" style="color: #ffffff;"></i></a>
                <a href="{% url 'profile' %}" class="btn"><i class="fa-solid fa-user"></i></a>
                <a href="{% url 'chats' %}" class="btn"><i class="fa-solid fa-inbox" style="color: #ffffff;"></i></a>
                <a href="{% url 'logout' %}" class="btn"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
</div>

    <footer class="footer">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <div class="col-span-2 md:col-span-1">
                <h4 class="text-lg font-semibold mb-2">Navigation</h4>
                <ul class="list-none p-0 m-0">
                    <li><a href="{% url 'home' %}" class="btn">Home</a></li>
                    <li><a href="{% url 'market' %}" class="btn">Market</a></li>
                    <li><a href="{% url 'forum' %}" class="btn">Forum</a></li>
                    <li><a href="" class="btn">Donate</a></li>
                    <li><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                    <li><a href="{% url 'logout' %}" class="btn">Log Out</a></li>
                </ul>
            </div>
            <div class="col-span-2 md:col-span-1 mx-auto justify-center">
                <h4 class="text-lg font-semibold mb-2">Communication</h4>
                <ul class="list-none p-0 m-0">
                    <li>info@campusconnect.com.tr</li>
                    <li>0 (312) 266 2626</li>
                    <li>Bilkent University, Ankara</li>
                </ul>
            </div>
            <div class="col-span-2 md:col-span-1 mx-auto justify-center">
                <a href="#" class="mx-2">Facebook</a>
                <a href="#" class="mx-2">Twitter</a>
                <a href="#" class="mx-2">LinkedIn</a>
                <a href="https://www.instagram.com/campusconnectbilkent/" target="_blank" class="mx-2">Instagram</a>
            </div>
        </div>

        <a href="https://w3.bilkent.edu.tr/www/" target="_blank" class="btn">
            <img class="mt-4 "src="{% static 'bilkent.png' %}" alt="Bilkent">
        </a>
        <a href="{% url 'home' %}" class="btn">
            <img class="mt-4 "src="{% static 'Logo_white.png' %}" alt="Bilkent">
        </a>
        <p class="mt-4">&copy; 2023 Facid by Bilkent University. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script>

        document.getElementById('addForm').addEventListener('submit', function() {
            // When the form is submitted, show the spinner
            document.getElementById('spinner').style.display = 'flex';
        });

        document.getElementById('addForm2').addEventListener('submit', function() {
            // When the form is submitted, show the spinner
            document.getElementById('spinner').style.display = 'flex';
        });
    </script>

<script>
    function showTab(tabName) {
        const tabs = document.getElementsByClassName('tab');
        for (const tab of tabs) {
            tab.style.display = 'none';
        }
        document.getElementById(tabName).style.display = 'block';
    }

    function toggleTabs(tabName) {
        const postTab = document.getElementById('postTab');
        const entryTab = document.getElementById('entryTab');
        const donateAdTab = document.getElementById('donateAdTab');
        const borrowAdTab = document.getElementById('borrowAdTab');

        if (tabName === 'postTab') {
            postTab.style.display = 'flex';
            postPreview.style.display = 'flex';
            entryTab.style.display = 'none';
            entryPreview.style.display = 'none';
            donateAdTab.style.display = 'none';
            donateAdPreview.style.display = 'none';
            borrowAdTab.style.display = 'none';
            borrowAdPreview.style.display = 'none';
        }

        else if (tabName === 'entryTab') {
            postTab.style.display = 'none';
            postPreview.style.display = 'none';
            entryTab.style.display = 'flex';
            entryPreview.style.display = 'flex';
            donateAdTab.style.display = 'none';
            donateAdPreview.style.display = 'none';
            borrowAdTab.style.display = 'none';
            borrowAdPreview.style.display = 'none';
        }

        else if (tabName === 'donateAdTab') {
            postTab.style.display = 'none';
            postPreview.style.display = 'none';
            entryTab.style.display = 'none';
            entryPreview.style.display = 'none';
            donateAdTab.style.display = 'flex';
            donateAdPreview.style.display = 'flex';
            borrowAdTab.style.display = 'none';
            borrowAdPreview.style.display = 'none';
        }

        else if (tabName === 'borrowAdTab') {
            postTab.style.display = 'none';
            postPreview.style.display = 'none';
            entryTab.style.display = 'none';
            entryPreview.style.display = 'none';
            donateAdTab.style.display = 'none';
            donateAdPreview.style.display = 'none';
            borrowAdTab.style.display = 'flex';
            borrowAdPreview.style.display = 'flex';
        }
    }

    // Show the postTab by default
    toggleTabs('postTab');


    document.addEventListener('DOMContentLoaded', function() {
    // Get the input elements
    const postTitleInput = document.getElementById('post_title');
    const postDescriptionInput = document.getElementById('post_description');
    const postPriceInput = document.getElementById('post_price');
    const entryTitleInput = document.getElementById('entry_title');
    const entryDescriptionInput = document.getElementById('entry_description');

    // Get the preview elements
    const postPreview = document.getElementById('postPreview');
    const entryPreview = document.getElementById('entryPreview');

    // Add event listeners to the input fields
    postTitleInput.addEventListener('input', updatePostPreview);
    postDescriptionInput.addEventListener('input', updatePostPreview);
    postPriceInput.addEventListener('input', updatePostPreview);
    entryTitleInput.addEventListener('input', updateEntryPreview);
    entryDescriptionInput.addEventListener('input', updateEntryPreview);


    // Function to update the post preview
    function updatePostPreview() {
        const title = postTitleInput.value;
        const description = postDescriptionInput.value;
        const price = postPriceInput.value;

        // Update the preview content
        postPreview.querySelector('h2').textContent = title;
        postPreview.querySelector('h6').textContent = description;
        postPreview.querySelector('h3').textContent = price + '₺';
    }

    // Function to update the entry preview
    function updateEntryPreview() {
        const title = entryTitleInput.value;
        const description = entryDescriptionInput.value;

        // Update the preview content
        entryPreview.querySelector('h2').textContent = title;
        entryPreview.querySelector('h6').textContent = description;
        // Assuming you want to display status in the preview

    }
});


</script>

<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "5px 5px";
    document.getElementById("logo").style.fontSize = "25px";
  } else {
    document.getElementById("navbar").style.padding = "35px 10px";
    document.getElementById("logo").style.fontSize = "35px";
  }
}
</script>
<script>
    function toggleTheme() {
    const themeStylesheet = document.getElementById('theme-stylesheet');
    const currentTheme = themeStylesheet.getAttribute('href');
    const isDarkMode = currentTheme.includes('dark');
    const logo = document.getElementById('logoImg')

    // Toggle between light and dark mode
    if (isDarkMode) {
        themeStylesheet.setAttribute('href', "{% static 'default.css'%}");
        logo.src = "{% static 'Logo_White.png'%}";
        console.log('dark activated');
    } else {
        themeStylesheet.setAttribute('href', "{% static 'default_dark.css'%}");
        logo.src = "{% static 'logo_orange.png'%}";
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const prefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const logo = document.getElementById('logoImg')
    if (prefersDarkMode) {
        document.getElementById('theme-stylesheet').setAttribute('href', "{% static 'default_dark.css'%}");
        logo.src = "{% static 'logo_orange.png'%}";
    }
});

</script>
</body>
</html>

