{% extends "base.html" %}
{% load static %}
{% block title %}
Market
{% endblock %}

{% block content %}

            <div class="card-container">
               <form class="filter-card" action="{% url 'market' %}" type="get">
                    <div class="form-group">
                        <select class="form-input" id="post_categories" name="post_categories" >
                            <option value="">Select a Category</option>
                            {% for category in categories %}
                                <option value="{{category.name}}" {% if cell == category.name %}selected{% endif %}>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-input" id="post_subcategories" name="post_subcategories">
                            <option value="">Select a Subcategory</option>
                            {% for subcategory in subcategories %}
                                    <option value="{{subcategory.name}}" {% if cell == subcategory.name %}selected{% endif %}>{{subcategory.category.name}}/{{subcategory.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                   <div class="form-group">
                        <select class="form-input" id="post_type" name="post_type">
                            <option value="">Select a Post Type</option>
                            {% for type in types %}
                                    <option value="{{type}}" {% if cell == type %}selected{% endif %}>{{type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-input" id="sort" name="sort">
                            <option value="-created_at"> Sort by: </option>
                            <option value="created_at" {% if cell == "created_at" %}selected{% endif %}>Oldest to Newest</option>
                            <option value="-created_at" {% if cell == "-created_at" %}selected{% endif %}>Newest to Oldest</option>
                            <option value="price" {% if cell == "price" %}selected{% endif %}>Price: Low to High</option>
                            <option value="-price" {% if cell == "-price" %}selected{% endif %}>Price: High to Low</option>

                        </select>
                    </div>
                    <button type="submit" class="filter-button">Filter <i class="fa-solid fa-filter" style="color: #ffffff;"></i></button>
                </form>
            </div>

        </div>
</div>


<div class="bottom-container">
        <div class="card-container">
                  {% if posts == 'Empty' %}
                        <div class="card">
                                <div class="card-content">
                                    <h2>Anyone have not shared any post yet</h2>
                                    <h6> </h6>
                                </div>
                        </div>
                    {% else %}
                        {% for post in posts %}
                             <div class="card">
                                <div class="profile-for_card">
                                    <img class="profile-for_card" src="{{post.owner.profile_image}}" >
                                    <form action="{% url 'show_profile' %}" method="post">
                                        <input type="hidden" id='user_id_2' name='user_id_2'  value="{{post.owner.id}}">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <p>{{ post.owner.user.first_name }} {{ post.owner.user.last_name }}
                                                {% if post.owner.is_verified == 1 %}
                                                    <i class="fa-regular fa-circle-check" style="color: #30aa0e; margin-left: 0.5rem"></i>
                                                {% endif %}
                                            </p>
                                        </button>
                                    </form>

                                </div>
                                <img class="card-img" src="{{post.image_token}}">
                                <div class="card-content">
                                    <form action="{% url 'show_post' %}" method="post">
                                        <input type="hidden" id='post_id' name='post_id'  value="{{post.id}}">
                                        <input type="hidden" id='type' name='type'  value="post">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <h2>{{post.title}}</h2>
                                        </button>
                                    </form>
                                    <h1>{{post.category.name}} / {{post.subcategory.name}}</h1>

                                </div>
                                <div class="card-price">
                                     {% if post.price == 0 %}
                                        <h3>Free</h3>
                                    {% else %}
                                        {% if post.type == 'borrow_ad' %}
                                            <h3>{{post.price}}₺ / {{post.borrowad.borrow_day}} days</h3>
                                        {% else %}
                                            <h3>{{post.price}}₺</h3>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="card-bottom">
                                     {% if post.id in actions %}
                                        <button class="favorites-btn" id="unfavoriteButton_{{post.id}}" onclick="unfavoritePost('{{post.id}}', '{{post.favorites_number}}')">
                                            <i class="fa-solid fa-star" style="color: #ffb433; margin-top: 0.2rem"></i>
                                            {% if post.favorites_number > 0 %}
                                                <h6 id="unfavorite_count_{{post.id}}" type="number">{{post.favorites_number}}</h6>
                                            {% endif %}
                                        </button>
                                    {% else %}
                                        <button class="favorites-btn" id="favoriteButton_{{post.id}}" onclick="favoritePost('{{post.id}}', '{{post.favorites_number}}')">
                                            <i id="star" class="fa-regular fa-star" style="color: #9c9c9c; margin-top: 0.2rem" ></i>
                                            {% if post.favorites_number > 0 %}
                                                <h6 id="favorite_count_{{post.id}}" type="number">{{post.favorites_number}}</h6>
                                            {% endif %}
                                        </button>
                                    {% endif %}

                                    <h1>{{post.created_at|timesince:now}} ago</h1>
                                </div>

                            </div>
                        {% endfor %}
                    {% endif %}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>


<script>
    function favoritePost(post_id, favorites_number) {
        // Replace these values with actual post_id, profile_id, and type
        var button = document.getElementById('favoriteButton_' + post_id);
        button.innerHTML = '<i class="fa-solid fa-star" style="color: #ffb433;"></i>';

        fetch(`/favorite_post/${post_id}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Action created successfully');
            } else {
                console.log('Error creating action:', data.error);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });

    }

        function unfavoritePost(post_id, favorites_number) {
        // Replace these values with actual post_id, profile_id, and type
        var button = document.getElementById('unfavoriteButton_' + post_id);
        button.innerHTML = '<i class="fa-regular fa-star" style="color: #9c9c9c;"></i>';
        console.log('colorrrrrr');
        fetch(`/unfavorite_post/${post_id}/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Action created successfully');
            } else {
                console.log('Error creating action:', data.error);
            }
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });

    }
    // Function to get CSRF token from cookies
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    function changeColor(post_id) {
        var button = document.getElementById('favoriteButton_' + post_id);
        button.innerHTML = '<i class="fa-solid fa-star" style="color: #ffb433;"></i>';
    }
</script>
{% endblock %}