<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'login.css' %}" id="theme-stylesheet" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body style="height: 1100px">
    <div class="container">
        <img src="{% static 'Logo_white.png' %}" alt="Background Image" id="logoImg">
        <div class="form-container" style="top: 60%">
            <div class="">
            <button id="toggle-theme-btn" onclick="toggleTheme()"><i class="icon-color fa-solid fa-moon"></i></button>

            <h3 class="text-center text-3xl font-bold mb-6">Register</h3>
            <form action="{% url 'create_account' %}" method="POST">
                {% csrf_token %}
                {% if message %}
                    <div class="bg-yellow-100 text-yellow-800 rounded-md p-4 mb-4">
                        {{ message }}
                    </div>
                {% endif %}
                <div class="mb-4">
                    <label for="username" class="label">Your Username:</label>
                    <input type="text" class="form-input" id="username" name="username" placeholder="Enter Username" required>
                </div>
                <div class="mb-4">
                    <label for="name" class="label">Name:</label>
                    <input type="text" class="form-input" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="mb-4">
                    <label for="surname" class="label">Surname:</label>
                    <input type="text" class="form-input" id="surname" name="surname" placeholder="Surname:" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="label">Your Bilkent mail:</label>
                    <input type="text" class="form-input" id="email" name="email" placeholder="Enter Bilkent Email" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="label">Your Password:</label>
                    <input type="password" class="form-input" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <form action="{% url 'home' %}">
                <button type="submit" class="btn2">Back to Log in</button>
            </form>

            </div>
        </div>
    </div>
<script>
    function toggleTheme() {
    const themeStylesheet = document.getElementById('theme-stylesheet');
    const currentTheme = themeStylesheet.getAttribute('href');
    const isDarkMode = currentTheme.includes('dark');
    const logo = document.getElementById('logoImg')

    // Toggle between light and dark mode
    if (isDarkMode) {
        themeStylesheet.setAttribute('href', "{% static 'login.css'%}");
        logo.src = "{% static 'Logo_White.png'%}";
        console.log('dark activated');
    } else {
        themeStylesheet.setAttribute('href', "{% static 'login_dark.css'%}");
        logo.src = "{% static 'logo_orange.png'%}";
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const prefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const logo = document.getElementById('logoImg')
    if (prefersDarkMode) {
        document.getElementById('theme-stylesheet').setAttribute('href', "{% static 'login_dark.css'%}");
        logo.src = "{% static 'logo_orange.png'%}";
    }
});

</script>
</body>
</html>
