<!DOCTYPE html>
<html>
<head>
    <title>Waiting for Activation</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var expiryTime = new Date('{{ expiry_time }}').getTime();

            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = expiryTime - now;

                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s ";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                }
            }, 1000);
        });
    </script>
</head>
<body>
    <p>Activation link has been sent to your email. Please activate your account within <span id="countdown"></span>.</p>
</body>
</html>